img {
  max-width: 100%; /* Prevents the image from being wider than its container */
  height: auto;    /* Keeps proportions correct */
  display: block;  /* Removes unwanted whitespace beneath the image */
  width: 25%;     /* Ensures the image takes up the full width of its container */ 
  margin: 0 auto; /* Centers the image horizontally */

}

h1 {
  text-align: center;
  font-family: "Protest Revolution", sans-serif;
}
p{
  text-align: center;
  font-family: "Protest Revolution", sans-serif;
  font-size: 30px;
}


