.watch{
  text-align: left;
  display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}
.play{
  text-align: center;
  display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}
.collect{
  text-align: right;
  display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}