.watch{
  text-align: left;
}

.play{
  text-align: center;
  transform: translate(800px, -420px);    
}

.collect{
  text-align: right;
  transform: translate(1700px, -840px);    
}

img {
  max-width: 100%; /* Prevents the image from being wider than its container */
  height: auto;    /* Keeps proportions correct */
  display: block;  /* Removes unwanted whitespace beneath the image */
  width: 25%;     /* Ensures the image takes up the full width of its container */ 
}
